<div class="bona_mega_main">
    <div class="image_10">
        <img src="img/img7.png" alt="">
    </div>
    <div class="our_production_general">
        <div class="our_production_top">
            <img src="img/img6.png" alt="">
        </div>
        <div class="our_production_bottom">
            <div class="our_production_left">
                <span>Bona MEGA</span>
                <p>Паркетный лак – Умеренный – Матовый,<br> Полуматовый (5 л)</p>
            </div>

            <div class="production_btn">
                <a href="">
                    <button type="button">В корзину</button>
                </a>
                <span><a href="">6 950 руб</a></span>
            </div>

        </div>
    </div>
</div>