<section class="question-page">
  <div class="wrapper">
    <h1 class="fs30 fs65-md text-center">
      <b>Часто-задаваемые вопросы</b> наших клиентов
    </h1>

    <div class="question-page-content">

      <component src="components/categories-block.html"></component>


      <div class="question-body">

        <div class="question-excerpt">

          <for count="10" data-count="1,2,3,4,5,6,7,8,9,10">
            <div class="question-item">
              <div class="title">
                <div class="d-flex">
                  <div class="icon">
                    <i class="fas fa-chevron-down c-grey"></i>
                  </div>
                  <b>
                    Через сколько можно ходить по полу и ставить
                    мебель?
                  </b>
                </div>
                <span class="count">
                {{count}}
              </span>
              </div>
              <p class="question-item-body">
                Если паркет покрывался водным (Loba, Bona, Berger, Forbo), кислотным (Pallmann
                SH-81) либо НЦ лаком, то мебель можно ставить аккуратно на следующий день,
                а ходить по паркету можно через 2 часа после нанесения последнего слоя.
                Если паркет покрывался алкидным, алкидно-уретановым (яхтным) либо
                полиуретановым лаком, то мебель можно ставить спустя 3 суток, а ходить
                можно через 6 часов после нанесения последнего слоя лака.
              </p>
            </div>
          </for>

        </div>

        <div class="question-excerpt">

          <for count="10" data-count="1,2,3,4,5,6,7,8,9,10">
            <div class="question-item">
              <div class="title">
                <div class="d-flex">
                  <div class="icon">
                    <i class="fas fa-chevron-down c-grey"></i>
                  </div>
                  <b>
                    Через сколько можно ходить по полу и ставить
                    мебель?
                  </b>
                </div>
                <span class="count">
                {{count}}
              </span>
              </div>
              <p class="question-item-body">
                Если паркет покрывался водным (Loba, Bona, Berger, Forbo), кислотным (Pallmann
                SH-81) либо НЦ лаком, то мебель можно ставить аккуратно на следующий день,
                а ходить по паркету можно через 2 часа после нанесения последнего слоя.
                Если паркет покрывался алкидным, алкидно-уретановым (яхтным) либо
                полиуретановым лаком, то мебель можно ставить спустя 3 суток, а ходить
                можно через 6 часов после нанесения последнего слоя лака.
              </p>
            </div>
          </for>

        </div>

      </div>
    </div>
  </div>
</section>