@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-after {
  $height: 50rem;
  $width: 87.5rem;
  position: relative;
  width: 100%;
  max-width: $width;
  height: $height;
  border: 2px solid white;
  transition: 0.2s;
  @media (max-width: 768px){
    height: 25rem;
  }
  @media (max-width: 425px){
    height: 13.6875rem;;
  }
  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: $width auto;
    background-position: 0 50%;
    background-repeat: no-repeat;
    @media (max-width: 576px){
      background-size: $height auto;
    }
    @media (max-width: 425px){
      background-size: 400px auto;
    }
  }
  .foreground-img {
    width: 50%;
    overflow: hidden;
  }
  .to, .from{
    width: 6.25rem;
    height: 2.8125rem;
    border-radius: 7px;
    filter: drop-shadow(0 0 38px rgba(40,39,40,0.15));
    background-color: #ffffff;
    @include center;
    @media (max-width: 768px){
      display: none;
    }
  }
  .from{
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
  }
  .to{
    position: absolute;
    left: 2.5rem;
    top: 2.5rem;
  }

  .slider {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: rgba(#f2f2f2, .3);
    outline: none;
    margin: 0;
    transition: all .2s;
    @include center;
    &:hover {
      background: rgba(#f2f2f2, .1);
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 0.375rem;
      height: $height;
      background: white;
      position: relative;
      left: 0.3125rem;
      cursor: col-resize;
    }
    &::-moz-range-thumb {
      width: 0.375rem;
      height: $height;
      background: white;
      cursor: pointer;
    }
  }

  .slider-button {
    $size: 5rem;
    pointer-events: none;
    position: absolute;
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: rgba(163, 123, 81, 0.34);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include center;
    color: #fff;
    z-index: 1;
    cursor: pointer;
    i{
      margin: 3px;
      color: #fff;
    }
    .ten, .ten2{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      background: #a37b51;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
    .ten{
      width: 3.75rem;
      height: 3.75rem;
      @include center;
    }
    .ten1{
      width: 2.5rem;
      height: 2.5rem;
      @include center;
    }
  }
}