.container-after {
  position: relative;
  width: 100%;
  max-width: 87.5rem;
  height: 50rem;
  border: 2px solid white;
  transition: 0.2s; }
  @media (max-width: 768px) {
    .container-after {
      height: 25rem; } }
  @media (max-width: 425px) {
    .container-after {
      height: 13.6875rem; } }
  .container-after .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 87.5rem auto;
    background-position: 0 50%;
    background-repeat: no-repeat; }
    @media (max-width: 576px) {
      .container-after .img {
        background-size: 50rem auto; } }
    @media (max-width: 425px) {
      .container-after .img {
        background-size: 400px auto; } }
  .container-after .foreground-img {
    width: 50%;
    overflow: hidden; }
  .container-after .to, .container-after .from {
    width: 6.25rem;
    height: 2.8125rem;
    border-radius: 7px;
    filter: drop-shadow(0 0 38px rgba(40, 39, 40, 0.15));
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 768px) {
      .container-after .to, .container-after .from {
        display: none; } }
  .container-after .from {
    position: absolute;
    right: 2.5rem;
    top: 2.5rem; }
  .container-after .to {
    position: absolute;
    left: 2.5rem;
    top: 2.5rem; }
  .container-after .slider {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0.3);
    outline: none;
    margin: 0;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center; }
    .container-after .slider:hover {
      background: rgba(242, 242, 242, 0.1); }
    .container-after .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 0.375rem;
      height: 50rem;
      background: white;
      position: relative;
      left: 0.3125rem;
      cursor: col-resize; }
    .container-after .slider::-moz-range-thumb {
      width: 0.375rem;
      height: 50rem;
      background: white;
      cursor: pointer; }
  .container-after .slider-button {
    pointer-events: none;
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: rgba(163, 123, 81, 0.34);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 1;
    cursor: pointer; }
    .container-after .slider-button i {
      margin: 3px;
      color: #fff; }
    .container-after .slider-button .ten, .container-after .slider-button .ten2 {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      background: #a37b51;
      transform: translate(-50%, -50%);
      border-radius: 50%; }
    .container-after .slider-button .ten {
      width: 3.75rem;
      height: 3.75rem;
      display: flex;
      justify-content: center;
      align-items: center; }
    .container-after .slider-button .ten1 {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center; }

/*# sourceMappingURL=after-before.css.map */
