<div class="wrapper max-wrapper">
  <div class="row">
    <div class="col-12 col-md-6 text-center text-md-start order-2 order-md-1">
      <h4 class="fs40 fs48-md fw-bolder c-black mt-0 mt-md-5">
        Такой страницы <br>
        не существует
      </h4>
      <a href="/">
        <button class="btn-grey-large mt-50 mb-30">Вернуться на главную</button>
      </a>
    </div>
    <div class="col-12 col-md-6 order-1 order-md-2">
      <img src="images/404.png" alt="" class="w-100">
    </div>
  </div>
</div>