<div class="rent-header">
  <div class="wrapper">
    <h1 class="fs35 fs65-md text-center">
      <b>Аренда оборудования</b> для <br> циклевки и реставрации полов
    </h1>
    <p class="d-flex align-items-center justify-content-center fs20 fs30-md mt-4 c-black status text-center">
      <span class="min-rounded border-grey opacity-50"></span>
      <span class="min-rounded border-grey opacity-75"></span>
      <span class="min-rounded border-grey"></span>
      Работаем с юридическими и физическми лицами
      <span class="min-rounded border-grey ms-2"></span>
      <span class="min-rounded border-grey opacity-75"></span>
      <span class="min-rounded border-grey opacity-50"></span>
    </p>


    <div class="rent-checks">
      <div class="item">
        <div class="check">
          <img src="images/icons/check.png" alt="check" class="me-2">
          Наличный и безналичный расчет;
        </div>
        <div class="check">
          <img src="images/icons/check.png" alt="check" class="me-2">
          От 1 суток;
        </div>
        <div class="check">
          <img src="images/icons/check.png" alt="check" class="me-2">
          Оформление за 10 минут;
        </div>
      </div>
    </div>

    <div class="info-block">
      <button class="btn-grey-large me-md-5">В каталог</button>
      <div>
        <p class="text-center fw-bold">или звоните:</p>
        <div class="tel-block">
          <div class="text-center fs12">
            <span class="min-rounded bgc-green"></span>
            Звоните, мы работаем Пн–Вс 9:00-18:00
          </div>
          <div class="number-block">
            <a href="tel:4955055222"><h1 class="fs23 c-black me-2">+7 (495) <b>505-52-22</b></h1></a>
            <div class="dropdown">
              <button class="btn btn-while dropdown-toggle fs9 py-1 border-radius-15" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Москва
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item fs9" href="#">Москва</a></li>
                <li><a class="dropdown-item fs9" href="#">Another action</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="go-top-block">
  <img src="images/icons/mouse-top.png" alt="Mouse Top Icon">
</div>