<div class="rent-header">
  <div class="wrapper max-wrapper">
    <h1 class="fs35 fs65-md text-center">
     <b> Циклевка паркета</b> с покрытием лака / маслом и <br>
      расширенной гарантией до 20 лет на износостойкость

    </h1>
    <p class="d-flex align-items-center justify-content-center fs20 fs30-md mt-4 c-black status text-center">
      <span class="min-rounded border-grey opacity-50"></span>
      <span class="min-rounded border-grey opacity-75"></span>
      <span class="min-rounded border-grey"></span>
      Работаем по Немецкой и Шведской технологии
      <span class="min-rounded border-grey ms-2"></span>
      <span class="min-rounded border-grey opacity-75"></span>
      <span class="min-rounded border-grey opacity-50"></span>
    </p>


    <div class="rent-checks">
      <div class="item">
        <div class="check">
          <img src="images/icons/check.png" alt="check" class="me-2">
          Бесплатный выезд
          мастера и замер;
        </div>
        <div class="check">
          <img src="images/icons/check.png" alt="check" class="me-2">
          Любые объемы
          и сложность;
        </div>
        <div class="check">
          <img src="images/icons/check.png" alt="check" class="me-2">
          Без пыли, грязи
          и шума;
        </div>
      </div>
    </div>


    <div class="row justify-content-between header-whatsup">
      <div class="col-12 col-lg-3">
        <button class="btn-call-green fs12 w-100">
          <img src="images/icons/whatsup.png" alt="icon WhatsUp" class="me-2">
          Написать в WhatsApp
        </button>
        <div class="d-flex justify-content-center align-items-center mt-3">
          или через
          <a href="#" class="d-flex justify-content-start align-items-center ms-2">
            <img src="images/icons/tele-50.png" alt="Telegram" class="w-60">
            <span class="tele-text text-nowrap ms-2">
              в Telegram
            </span>
          </a>
        </div>
        <div class="mt-3">
          <p class="text-center fw-bold">или звоните:</p>
          <div class="tel-block">
            <div class="text-center fs12">
              <span class="min-rounded bgc-green"></span>
              Звоните, мы работаем Пн–Вс 9:00-18:00
            </div>
            <div class="number-block d-flex justify-content-center">
              <a href="tel:4955055222"><h1 class="fs23 c-black me-2">+7 (495) <b>505-52-22</b></h1></a>
              <div class="dropdown">
                <button class="btn btn-while dropdown-toggle fs9 py-1 border-radius-15" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Москва
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item fs9" href="#">Москва</a></li>
                  <li><a class="dropdown-item fs9" href="#">Another action</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 d-none d-lg-block">
        <img src="images/tinting/tel.png" alt="" class="w-50 header-whatsup-img">
      </div>
      <div class="col-12 d-none d-lg-block">
        <div class="info-header-block position-relative">
          <span class="info-icon">
            <span>
              <img src="images/icons/info.png" alt="Info Icon">
            </span>
          </span>
          Работаем с юридическими и <br>
          физическими лицами
        </div>
      </div>
    </div>
  </div>
</div>
<div class="go-top-block">
  <img src="images/icons/mouse-top.png" alt="Mouse Top Icon">
</div>