<section class="calculation-section">
  <div class="wrapper">
    <div class="calc-body">
      <img class="board" src="images/home/calculation-section/board.png" alt="Board Img">
      <div class="text-block">
        <h1 class="c-black fs65">
          <b>
            Рассчитайте стоимость <br>
            восстановления пола <br>
          </b>
          <span class="fw-light">
            в 3 вариантах экспресс, <br>
            стандарт и премиум <br>
         </span>
        </h1>
        <h3 class="c-black mt-5 fs36">
          <b>С точностью 99%.</b> Займет не больше <br>
          1 минуты. Пройдите тест.
        </h3>
        <div class="mt-5">
          <a href="#">
            <button class="btn-grey-large">
              Пройти тест и рассчитать стоимость
            </button>
          </a>
        </div>
      </div>
    </div>
    <img class="calc" src="images/home/calculation-section/calc.png" alt="Calculate">
  </div>
</section>