<section class="installation-installation-floors">
  <div class="wrapper">
    <h1 class="text-center c-grey">Устройство или укладка новых полов</h1>
    <div class="installation-floors-body">

      <for count="6"
           data-images="1,2,3,4,5,6"
           data-titles="Укладка декора, Укладка штучного паркета, Укладка массивной доски,Укладка инженерной доски, Укладка ламината (плавучая), Стяжка / Фанера"
           data-tag="'',(плавучая система),'','',(плавучая),''"
      >

        <div class="item" style="background-image: url(images/home/installation-installation-floors/{{images}}.png)">
          <h3 class="title fs30">{{titles}}</h3>
          <p class="fs16 c-black">{{tag}}</p>
          <button class="btn price-btn fw-bolder mt-4">
            от <b class="fs30">459</b> руб/м2
          </button>
          <p class="fs12 c-black mt-2">*без расходных материалов</p>
          <button class="btn-call-green fs16 mt-4">
            <img src="images/icons/whatsup.png" alt="icon WhatsUp" class="me-2">
            Спросить в WhatsApp
          </button>
        </div>

      </for>

    </div>
  </div>
</section>

<div class="d-flex justify-content-center align-items-center mt-5 mb-5">
  <button class="btn-grey-large fs16 me-4">
    Смотреть все услуги
  </button>
  <a href="#" class="c-grey fs16 border-bottom-dashed">
    Смотреть цены
    <i class="far fa-arrow-right ms-2"></i>
  </a>
</div>