<section class="our-services">
  <div class="wrapper max-wrapper">
    <h1 class="fs65 c-black text-center">{{title}}</h1>


    <div class="text-block fs18 close">
      Циклевка паркета - это необходимая любому паркету услуга, возвращающая его первозданный внешний вид и красоту. Только циклевка пола способна полностью устранить крупные и мелкие повреждения, царапины и потертости. После работы наших мастеров, ваш паркет будет как новый, а все заметные дефекты просто исчезнут. Заказывайте у нас одну из самых доступных циклевок паркета в Москве и мы значительно увеличим его срок службы!  Наша компания дорожит своим имиджем, поэтому мы всегда гарантируем высокое качество выполненной работы. Для циклевки паркета используется самое лучшее оборудование немецкой компании Lagler и только высококачественная паркетная химия.
      Все мастера прошли специальное обучение и имеют опыт работы с паркетом. Вместе с этим у нас гибкая ценовая политика, поэтому наши услуги доступны широкому кругу потребителей.
      <div class="ten"></div>
    </div>
    <div class="open-close-text close">
      Расскрыть полностью
      <i class="far fa-angle-down ms-2"></i>
    </div>
  </div>
</section>