<section class="partners-section">
  <div class="wrapper">
    <h1 class="c-black fs30">
      <b>Наши клиенты:</b>
    </h1>

    <div class="partners-body mb-5">


      <for count="5" data-imageurl="images/partners/1.png, images/partners/2.png, images/partners/3.png, images/partners/4.png, images/partners/5.png">
        <div class="item">
          <div class="img-block">
            <img src="{{imageurl}}" alt="Ритц-карлтон (Сеть отелей)">
          </div>
          <p class="fs12">Ритц-карлтон (Сеть отелей) копия</p>
        </div>
      </for>


      <a href="#" class="see-more">
        <p class="count">+50</p>
        <p class="c-grey border-bottom-dashed fs12">
          Смотреть всех клиентов
          <i class="far fa-arrow-right ms-2"></i>
        </p>
      </a>
    </div>
  </div>
</section>