<section class="restoration-treatment-floors">
  <div class="wrapper">
    <h1 class="text-center c-grey">Реставрация и обработка старых полов</h1>

    <div class="restoration-block">

      <div class="item" style="background-image: url(images/home/restoration-block/1.png)">
        <div class="w-100">
          <h3 class="title fs30 c-black">Циклевка паркета</h3>
          <ul>
            <li class="c-black fs18 mt-2">
            <span class="border-bottom-dashed">
              Шлифовка паркета
            </span>
            </li>
            <li class="c-black fs18 mt-2">
            <span class="border-bottom-dashed">
              Тонировка паркета
            </span>
            </li>
            <li class="c-black fs18 mt-2">
            <span class="border-bottom-dashed">
              Брошюровка паркета
            </span>
            </li>
          </ul>
          <button class="btn price-btn fw-bolder">
            от <b class="fs30">459</b> руб/м2
          </button>
          <p class="fs12 c-black mt-2">*без расходных материалов</p>
          <button class="btn-call-green fs16 mt-4">
            <img src="images/icons/whatsup.png" alt="icon WhatsUp" class="me-2">
            Спросить в WhatsApp
          </button>
        </div>
        <div class="w-100 d-flex justify-content-center">
          <button class="btn-grey-large fs16">
            Калькулятор стоимости
          </button>
        </div>

        <a href="#" class="view-we-works fs16 border-bottom-dashed">
          Смотреть наши работы
          <i class="far fa-arrow-right ms-2"></i>
        </a>
      </div>


      <div class="item" style="background-image: url(images/home/restoration-block/2.png)">
        <div class="w-100">
          <h3 class="title fs30 c-black">
            Циклевка <br>
            инженерной /<br>
            паркетной доски
          </h3>
          <ul>
            <li class="c-black fs18 mt-2">
              <span class="border-bottom-dashed">Шлифовка инженерной /</span>
              <br>
              <span class="border-bottom-dashed">паркетной доски</span>
            </li>
            <li class="c-black fs18 mt-2">
               <span class="border-bottom-dashed">
             Тонировка инженерной /
            </span>
              <br>
              <span class="border-bottom-dashed">
             паркетной доски
            </span>
            </li>
            <li class="c-black fs18 mt-2">
              <span class="border-bottom-dashed">
                Брошюровка инженерной /
              </span>
              <br>
              <span class="border-bottom-dashed">
              паркетной доски
            </span>
            </li>
          </ul>
          <button class="btn price-btn fw-bolder">
            от <b class="fs30">459</b> руб/м2
          </button>
          <p class="fs12 c-black mt-2">*без расходных материалов</p>
          <button class="btn-call-green fs16 mt-4">
            <img src="images/icons/whatsup.png" alt="icon WhatsUp" class="me-2">
            Спросить в WhatsApp
          </button>
        </div>
        <div class="w-100 d-flex justify-content-center">
          <button class="btn-grey-large fs16">
            Калькулятор стоимости
          </button>
        </div>
        <a href="#" class="view-we-works fs16 border-bottom-dashed">
          Смотреть наши работы
          <i class="far fa-arrow-right ms-2"></i>
        </a>
      </div>

      <div class="item" style="background-image: url(images/home/restoration-block/3.png)">
        <div class="w-100">
          <h3 class="title fs30 c-black">
            Тонировка паркета
          </h3>
          <button class="btn price-btn fw-bolder mt-3 ">
            от <b class="fs30">459</b> руб/м2
          </button>
          <p class="fs12 c-black mt-2">*без расходных материалов</p>
          <button class="btn-call-green fs16 mt-4">
            <img src="images/icons/whatsup.png" alt="icon WhatsUp" class="me-2">
            Спросить в WhatsApp
          </button>
        </div>
        <div class="w-100 d-flex justify-content-center">
          <button class="btn-grey-large fs16">
            Калькулятор стоимости
          </button>
        </div>
        <a href="#" class="view-we-works fs16 border-bottom-dashed">
          Смотреть наши работы
          <i class="far fa-arrow-right ms-2"></i>
        </a>
      </div>

      <div class="item" style="background-image: url(images/home/restoration-block/4.png)">
        <div class="w-100">
          <h3 class="title fs30 c-black">
            ЦЦиклевка <br>
            под масло
          </h3>
          <button class="btn price-btn fw-bolder mt-3">
            от <b class="fs30">459</b> руб/м2
          </button>
          <p class="fs12 c-black mt-2">*без расходных материалов</p>
          <button class="btn-call-green fs16 mt-4">
            <img src="images/icons/whatsup.png" alt="icon WhatsUp" class="me-2">
            Спросить в WhatsApp
          </button>
        </div>
        <div class="w-100 d-flex justify-content-center">
          <button class="btn-grey-large fs16">
            Калькулятор стоимости
          </button>
        </div>
        <a href="#" class="view-we-works fs16 border-bottom-dashed">
          Смотреть наши работы
          <i class="far fa-arrow-right ms-2"></i>
        </a>
      </div>

    </div>
  </div>
</section>