<section class="save-me">

  <component src="components/home/useful.html"></component>

  <div class="d-flex justify-content-center align-items-center mt-5">
    <button class="smile-btn">
      <img src="images/icons/smile.png" alt="Smile" class="me-2">
      Не спешите уходить
    </button>
  </div>

  <h1 class="section-title">
    Обратившись к нам, вы гарантировано получите не только <b>лучшую цену, но и 100% качественный пол</b> точно в срок
  </h1>

  <div class="heard-block">
    <img src="images/home/save-me/heard.png" alt="heard" class="me-0 me-md-2">
    <p>
      Чтобы не потерять наш сайт, <b>добавьте его  в изранное (закладки) или сохраните</b>
    </p>
  </div>


  <div class="wrapper keyboard-step">
    <div class="item">
      <div class="name-step">
        <div>
          <b>Нажмите сочетание</b> <br>
          клавиш в браузере
        </div>
        <img src="images/home/save-me/right.png" alt="right">
      </div>
      <img src="images/home/save-me/ctrl-d.png" alt="ctrl-d" class="example">
    </div>
    <div class="item">
      <div class="name-step">
        <div>
          <b>Нажмите на кнопку</b> <br>
          в телефоне
        </div>
        <img src="images/home/save-me/right.png" alt="right">
      </div>
      <img src="images/home/save-me/site-example.png" alt="site-example" class="example">
    </div>
  </div>
</section>