<section class="section-home-skills">
  <div class="wrapper max-wrapper">
    <div class="item" style="background-image: url(images/home/sk1.png)">
      <h3 class="fs20 c-black">Дорого, <br> качественно <br> и на долго </h3>
      <p class="mt-2 fs16 c-black">
        Не эконоим - делаем <br>
        премиум качество с <br>
        использованием самого <br>
        дорого продукта BONA, <br>
        LONA, STAUF, NEOPUR <br>
      </p>
    </div>
    <div class="item" style="background-image: url(images/home/sk2.png)">
      <h3 class="fs20 c-black">
        Фиксируем<br>
        стоимость без<br>
        повышения<br>
      </h3>
      <p class="mt-2 fs16 c-black">
        Без скрытых и <br>
        дополнительных <br>
        платежей. <br>
        Фиксируется до <br>
        начало работ и <br>
        не меняется <br>
      </p>
    </div>
    <div class="item" style="background-image: url(images/home/sk3.png)">
      <h3 class="fs20 c-black">
        Гарантия. Сервис. <br>
        Рекомендации по <br>
        уходу и подарки <br>

      </h3>
      <p class="mt-2 fs16 c-black">
        Персональный менджер, <br>
        сертифициоранные <br>
        сотрудники и гарантия на <br>
        износостойкость не на <br>
        словах, а в договоре. <br>

        <b>
          + Подарок каждому <br>
          при заказе
        </b>
      </p>
    </div>
    <div class="item" style="background-image: url(images/home/sk4.png)">
      <h3 class="fs20 c-black">
        Фиксируем<br>
        стоимость без<br>
        повышения<br>
      </h3>
      <p class="mt-2 fs16 c-black">
        Без скрытых и <br>
        дополнительных <br>
        платежей. <br>
        Фиксируется до <br>
        начало работ и <br>
        не меняется <br>
      </p>
    </div>
  </div>
</section>