

<section class="trust-section">
  <div class="wrapper max-wrapper">
    <h1 class="fs30 fs65-md text-center c-black">
      Преимущества или почему <b> вы <br> можете довериться нам </b>
    </h1>



    <div class="trust-section-body">

      <div class="item" style="background-image: url(images/home/trust/1.png)">
        <h3 class="fs20 c-black">
          <b>
            Только <br>
            оригинальные <br>
            и качественные <br>
            материалы <br>
          </b>
        </h3>
        <h4 class="fs16 mt-3 c-black fw-light">
          Закрытые банки.  <br>
          Сертификаты и документы  <br>
          к паркетной продукции,что  <br>
          позволяет гарантировать  <br>
          качество продукта и  <br>
          избежать подделок  <br>
        </h4>

        <div class="quotation">
          <a href="#" class="border-bottom-dashed c-grey pb-2">
            Как обманывают на материалах?
          </a>
          <img src="images/icons/quotation.png" alt="quotation">
        </div>
      </div>


      <div class="item" style="background-image: url(images/home/trust/2.png)">
        <h3 class="fs20 c-while">
          <b>
            Фиксровання <br>
            стоимость до <br>
            окончания работ <br>
          </b>
        </h3>
        <h4 class="fs16 mt-3 c-while fw-light">
          Фиксация обговоренных <br>
          цен. Стоимость не меняется <br>
          после запуска объекта <br>
        </h4>
      </div>

      <div class="item" style="background-image: url(images/home/trust/3.png)">
        <h3 class="fs20 c-black">
          <b>
            Лушие <br>
            производители <br>
            паркетной <br>
            продукции <br>
            BONA LONA <br>
            STAUF NEOPUR <br>
          </b>
        </h3>
        <h4 class="fs16 mt-3 c-black fw-light">
          Lorem ipsum dolor sit amet, <br>
          consectetur adipisicing elit, sed <br>
          do eiusmod tempor incididunt ut <br>
          labore et dolore magna aliqua. <br>
          Ut enim ad minim veniam, quis <br>
          nostrud exercitation ullamco laboris <br>
        </h4>
      </div>

      <div class="item" style="background-image: url(images/home/trust/4.png)">
        <h3 class="fs20 c-while">
          <b>
            Лучшая немецкая <br>
            и швецкая техника <br>
            для высокоточной <br>
            шлифовки <br>
          </b>
        </h3>
        <h4 class="fs16 mt-3 c-while fw-light">
          Используем в работе <br>
          оборудование самых <br>
          известных проверенных <br>
          годами брендов на <br>
          мировом рынке <br>
        </h4>
        <div class="quotation">
          <a href="#" class="border-bottom-dashed-while c-while pb-2">
            Как обманывают на материалах?
            <i class="far fa-arrow-right ms-2"></i>
          </a>
        </div>
      </div>

      <div class="item" style="background-image: url(images/home/trust/5.png)">
        <h3 class="fs20 c-black">
          <b>
            Бесплатный <br>
            вызов технолога <br>
            на ваш объект <br>
          </b>
        </h3>
        <h4 class="fs16 mt-3 c-black fw-light">
          Индивидуальный подход <br>
          при подборе полов. <br>
          Бесплатно направляем <br>
          технолога, который помогает <br>
          выбрать состав заказа <br>
        </h4>
      </div>

      <div class="item" style="background-image: url(images/home/trust/6.png)">
        <h3 class="fs20 c-while">
          <b>
            Строго <br>
            соблюдаем <br>
            технологические <br>
            паузы
          </b>
        </h3>
        <h4 class="fs16 mt-3 c-while fw-light">
          и все другие рекомендации  <br>
          производителей паркетной  <br>
          продукции
        </h4>
      </div>


      <div class="item" style="background-image: url(images/home/trust/7.png)">
        <h3 class="fs20 c-black">
          <b>
            Собственный <br>
            автопарк, <br>
            оборудование <br>
            и склады <br>
          </b>
        </h3>
        <h4 class="fs16 mt-3 c-black fw-light">
          мы не берем в аренду <br>
          оборудование и <br>
          исполнители компании <br>
          являются только <br>
          штатными сотрудниками. <br>
        </h4>
      </div>

      <div class="item" style="background-image: url(images/home/trust/8.png)">
        <h3 class="fs20 c-while">
          <b>
            Даем <br>
            расширенную <br>
            гарантию 10 лет <br>
          </b>
        </h3>
        <h4 class="fs16 mt-3 c-while fw-light">
          Гарантия 10 лет на <br>
          предмет износа <br>
        </h4>
      </div>

      <div class="item" style="background-image: url(images/home/trust/9.png)">
        <h3 class="fs20 c-black">
          <b>
            Рекомендация <br>
            по уходу за <br>
            полом вместе <br>
            с договором <br>
            исполнения
          </b>
        </h3>
        <h4 class="fs16 mt-3 c-black fw-light">
          Мы всегда поддерживаем <br>
          связи с нашими заказчиками <br>
          и не теряемся после <br>
          исполнения <br>
        </h4>
      </div>

    </div>
  </div>
</section>