<section class="company-info mt-80">
  <div class="row wrapper max-wrapper">
    <div class="col-12 col-md-6">
      <h1 class="fs30 fs65-md mb-48">
        <b>О компании</b>
      </h1>
      <p class="fs18 c-black mb-3">
        Основано с 2000 году но задолго до этого основатель компании наследовал от своего отца и деда навыки профессиональной обработки и деревообработка полов. Будучи педантичным и скрупулезным человеком, он в совершенстве владел технологией обработки паркетных настилов.
      </p>
      <p class="fs18 c-black mb-3">
        В основе создания компании лежали две глубокие идеи – искреннее восхищение перед красотой дерева и желание подняться до непревзойденного качественного уровня. Эти идеи по сей день пронизывают деятельность каждого сотрудника – от грузчиков до кабинета директоров. Мы заостряем свое внимание на каждой мелочи, а потому смогли создать всесторонне новый
        уровень паркетных работ.
      </p>
      <p class="fs18 c-black mb-3">
        Работаем в частном сегменте, компаративном сегменте, с гос. сегменте, можем участвовать в торгах любого типа сегодня мы же насчитываем более 20 крупных направлений деятельности нашей компании где работают более 60 профессионалов своего дела. На протяжении своей деятельности компания приобрела множество постоянных заказчиков, благодарных откликов и писем.
      </p>
    </div>
    <div class="col-12 col-md-6">
      <div class="slider-works mt-60">
        <for count="5">
          <div class="img-body" style="background-image: url(images/for-company/shefi.png)"></div>
        </for>
      </div>
    </div>
  </div>
</section>