<section class="our-workers mt-90">

  <div class="wrapper max-wrapper">
    <h1 class="fs30 fs65-md text-center mb-30">
      <b>Команда</b> с опытом от 5 лет
    </h1>
    <div class="row">
      <for count="4" data-wrokers="Andranik.png,worker1.png,worker2.png,worker3.png">
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="bg-image border-radius-25 h-500 mt-4" style="background-image: url(images/for-company/{{wrokers}})"></div>
        </div>
      </for>
    </div>
  </div>

</section>