<section class="we-works-images mt-80">
  <div class="row wrapper max-wrapper align-items-end">
    <for count="4" data-images="1,2,3,4" data-titles="Собственный автопарок, Собственное оборудование,Склады материалов, Диполомы, награды, сертификаты">
      <div class="col-12 col-sm-6 col-lg-3">
        <h3 class="fs30 text-center fw-bold">{{titles}}</h3>
        <div class="w-100 bg-image border-radius-25 mt-37 h-500" style="background-image: url(images/for-company/{{images}}.png)"></div>
      </div>
    </for>
  </div>
</section>