<section class="work-years mt-80">

  <div class="wrapper max-wrapper">
    <div class="d-flex justify-content-between align-items-center flex-column flex-lg-row">
      <div class="year-printed-wood" style="background-image: url(images/for-company/clean-wood.png)">
        <img src="images/for-company/22.png" alt="20 Year">
        <p class="text">год основания компании 2000</p>
      </div>
      <div class="year-printed-wood d-none d-lg-block" style="background-image: url(images/for-company/not-clean-wood.png)"></div>
      <div class="year-printed-wood" style="background-image: url(images/for-company/clean-wood.png)">
        <img src="images/for-company/60.png" alt="60 Year">
        <p class="text">профессионалов  в команде</p>
      </div>
      <div class="year-printed-wood d-none d-lg-block" style="background-image: url(images/for-company/not-clean-wood.png)"></div>
      <div class="year-printed-wood" style="background-image: url(images/for-company/clean-wood.png)">
        <img src="images/for-company/20.png" alt="60 Year">
        <p class="text">профессионалов  в команде</p>
      </div>
    </div>
  </div>

</section>