<footer>
    <div class="wrapper">
        <div class="logo-block">

            <div>
                <img src="images/logo-site.png" alt="Logo-site">
            </div>
            <p class="fs15 mt-3">
                С 2000 года оказываем -
                <b>
                    высококвалифицированная услуги в области деревянных полов
                </b>
            </p>


            <div class="rating-block mt-3">
                <img src="images/rat-icon.png" alt="Rating Icon" class="me-2">
                <div>
                    <div class="d-flex justify-content-start align-items-center">
                        <img src="images/rating-star.png" alt="Rating Star" class="me-2">
                        <img src="images/rating-star.png" alt="Rating Star" class="me-2">
                        <img src="images/rating-star.png" alt="Rating Star" class="me-2">
                        <img src="images/rating-star.png" alt="Rating Star" class="me-2">
                        <img src="images/rating-star.png" alt="Rating Star" class="me-2">
                    </div>
                    <div class="fs14">
                        <b>4.9 рейтинг</b>
                        <p>на основе 245 отзывов</p>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-start align-items-center mt-4" style="margin-left: -30px">
                <img src="images/calcualtor.png" alt="Calculator" class="me-2">
                <div class="fs14">
                    <p><b>Калькулятор</b></p>
                    <p><b>стоимости</b></p>
                </div>
            </div>


        </div>
        <div class="menu-block">
            <h3 class="fw-bold fs24">Меню</h3>
            <a href="#" class="d-block mt-2 c-black text-decoration-underline">Главная</a>
            <a href="#" class="d-block mt-2 c-black text-decoration-underline">Услуги</a>
            <a href="#" class="d-block mt-2 c-black text-decoration-underline">Стоимость</a>
            <a href="#" class="d-block mt-2 c-black text-decoration-underline">Стоимость</a>
            <a href="#" class="d-block mt-2 c-black text-decoration-underline">Наши работы</a>
            <a href="#" class="d-block mt-2 c-black text-decoration-underline">Аренда</a>
            <a href="#" class="d-block mt-2 c-black text-decoration-underline">Товары</a>
            <a href="#" class="d-block mt-2 c-black text-decoration-underline">Информация</a>
            <a href="#" class="d-block mt-2 c-black text-decoration-underline">О компании</a>
            <a href="#" class="d-block mt-2 c-black text-decoration-underline">Контакты</a>
        </div>
        <div class="work-our-teams">
            <h3 class="fw-bold fs24">Преимущества работы с нами</h3>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="d-flex justify-content-start align-items-start mt-2">
                        <i class="far fa-check me-2 c-grey mt-1"></i>
                        Опыт работы с 2000 год в сфере паркетных работ.
                    </div>
                    <div class="d-flex justify-content-start align-items-start mt-2">
                        <i class="far fa-check me-2 c-grey mt-1"></i>
                        Зарытые банки, сертификаты, документы к паркетной продукции, что позволяет гарантировать качество продукта
                    </div>
                    <div class="d-flex justify-content-start align-items-start mt-2">
                        <i class="far fa-check me-2 c-grey mt-1"></i>
                        Гарантированное применение тех продуктов о которых обговорено значально
                    </div>
                    <div class="d-flex justify-content-start align-items-start mt-2">
                        <i class="far fa-check me-2 c-grey mt-1"></i>
                        Фиксация обговоренных цен. стоимость не меняется после запуска объекта
                    </div>
                    <div class="d-flex justify-content-start align-items-start mt-2">
                        <i class="far fa-check me-2 c-grey mt-1"></i>
                        Лушие производители паркетной продукции BONA LONA STAUF NEOPUR
                    </div>
                    <div class="d-flex justify-content-start align-items-start mt-2">
                        <i class="far fa-check me-2 c-grey mt-1"></i>
                        Лучшая немецкая и швецкая техника для высокоточной шлифовки…
                    </div>
                    <div class="d-flex justify-content-start align-items-start mt-2">
                        <i class="far fa-check me-2 c-grey mt-1"></i>
                        Поэтапное выполнение работ при закачке
                    </div>
                    <div class="d-flex justify-content-start align-items-start mt-2">
                        <i class="far fa-check me-2 c-grey mt-1"></i>
                        Выполнение самых сложных работ когда другие не берутся
                    </div>
                    <div class="d-flex justify-content-start align-items-start mt-2">
                        <i class="far fa-check me-2 c-grey mt-1"></i>
                        Предоставления гарантии на износостойкость пола без предварительных скрытых условий

                    </div>
                    <div class="d-flex justify-content-start align-items-start mt-2">
                        <i class="far fa-check me-2 c-grey mt-1"></i>
                        Работа производится по рецептуре
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="d-flex justify-content-start align-items-start mt-2">
                        <i class="far fa-check me-2 c-grey mt-1"></i>
                        Вы получаете в руки исполнительную схему для полного понимания и контроль работ
                    </div>
                    <div class="d-flex justify-content-start align-items-start mt-2">
                        <i class="far fa-check me-2 c-grey mt-1"></i>
                        Вы получаете рекомендации по уходу за полом вместе с договором исполнения.
                    </div>
                    <div class="d-flex justify-content-start align-items-start mt-2">
                        <i class="far fa-check me-2 c-grey mt-1"></i>
                        Вы получаете подарки разного рода в зависимости от заказа
                    </div>
                    <div class="d-flex justify-content-start align-items-start mt-2">
                        <i class="far fa-check me-2 c-grey mt-1"></i>
                        У нас нет понятий пакетов услуг и дроблении одного заказа на много мелких ээкономий
                    </div>
                    <div class="d-flex justify-content-start align-items-start mt-2">
                        <i class="far fa-check me-2 c-grey mt-1"></i>
                        Индивидуальный подход при подборе полов
                    </div>
                    <div class="d-flex justify-content-start align-items-start mt-2">
                        <i class="far fa-check me-2 c-grey mt-1"></i>
                        Бесплатно направляем технолога который помогает выбрать состав заказа
                    </div>
                    <div class="d-flex justify-content-start align-items-start mt-2">
                        <i class="far fa-check me-2 c-grey mt-1"></i>
                        Мы соблюдаем технологические паузы и все рекомендации производителей паркетной продукции.
                    </div>
                    <div class="d-flex justify-content-start align-items-start mt-2">
                        <i class="far fa-check me-2 c-grey mt-1"></i>
                        Наши сотрудники проходят ежегодную сертификацию как  внутреннюю так и внешнюю.
                    </div>
                </div>
            </div>
        </div>
        <div class="our-office-info">
            <h3 class="fw-bold fs24">
                <b>Приезжайте</b> к нам в офис
            </h3>
            <div class="address-item mt-3">
                <i class="fas fa-map-marker-alt fs30 me-2 c-grey"></i>
                <div>
                    <p><b>г. Москва,</b></p>
                    <p>Нижегородская ул.,д. 32, Россия</p>
                </div>
            </div>
            <div class="address-item mt-3">
                <i class="fas fa-map-marker-alt fs30 me-2 c-grey"></i>
                <div>
                    <p><b>г. Санкт-Петербург,</b></p>
                    Школьный пер., д. 6
                </div>
            </div>
            <div class="img-block">
                <img src="images/home/footer-employee.png" alt="footer-employee">
            </div>
            <div class="mt-3">
                <h3 class="fw-bold fs16">Мы в социальных сетях:</h3>
                <div class="d-flex justify-content-center justify-content-sm-start align-items-center mt-2">
                    <a href="#" class="me-2">
                        <img src="images/icons/youtube.png" alt="youtube">
                    </a>
                    <a href="#" class="me-2">
                        <img src="images/icons/instagram.png" alt="instagram">
                    </a>
                    <a href="#" class="me-2">
                        <img src="images/icons/vk.png" alt="vkontakte">
                    </a>
                    <a href="#" class="me-2">
                        <img src="images/icons/telegram.png" alt="telegram">
                    </a>
                </div>
            </div>
        </div>

        <div class="contact-block">
            <h3 class="fw-bold fs24 text-center text-sm-start">Контакты</h3>
            <div class="tel-block mt-5">
                <div class="fs12">
                    <span class="min-rounded bgc-green"></span>
                    Звоните, мы работаем Пн–Вс 9:00-18:00
                </div>
                <div class="d-flex justify-content-between">
                    <a href="tel:4955055222"><h1 class="fs23 c-black me-2">+7 (495) <b>505-52-22</b></h1></a>
                    <div class="dropdown">
                        <button class="btn btn-while dropdown-toggle fs9 py-1 border-radius-15" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Москва
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item fs9" href="#">Москва</a></li>
                            <li><a class="dropdown-item fs9" href="#">Another action</a></li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex justify-content-start mt-1">
                    <span class="fs12 c-grey call-sec border-bottom-dashed">Перезвоним вам за 30 секунд</span>
                </div>
            </div>
            <h3 class="mt-4 fw-bold">
                <a href="mailto:info@ciklevka.ru" class="fs16 d-flex c-grey justify-content-start align-items-center">
                    <i class="fas fa-envelope me-2"></i>
                    info@ciklevka.ru
                </a>
            </h3>

            <div class="mt-5">
                <div class="fs12">
                    <span class="min-rounded bgc-green"></span>
                    Задайте вопрос ONLINE
                </div>
                <div class="quotation-block fs12 me-2">
                    <div class="mt-2">
                        <button class="btn-call-green fs12">
                            <img src="images/icons/whatsup.png" alt="icon WhatsUp" class="me-2">
                            Написать в WhatsApp
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</footer>

<div class="privacy_policy_main">
    <div class="privacy_policy_left">
        <p>© 2010 – 2021 ООО «КОМПАНИЯ НАЗАНИЕ» Политика конфеденциальности</p>
    </div>
    <div class="privacy_policy_left text-center">
        <p>
            Материалы сайта защищены законом РФ об авторских и смежных правах.
            Копирование запрещено. Сайт не является договором оферты
        </p>
    </div>
    <div class="privacy_policy_left text-right">
        <p>
            Сделано с любовью в
            Paradigma.website
        </p>
    </div>
</div>