<header class="pb-1" style="background-image: url(images/header-bg.png)">
    <component src="components/header-navbar.html"></component>
    <div class="wrapper">
        <ul class="nav_ul3">
            <li class="nav-item">
                <a class="nav-link" href="#">Главная</a>
            </li>
            <li class="nav-item">
                <span></span>
                <a class="nav-link" href="#">{{link1}}</a>
            </li>
            <li class="nav-item">
                <span></span>
                <a class="nav-link" href="#"><b>{{link2}}</b></a>
            </li>
        </ul>
    </div>
</header>