<header style="background-image: url({{backgroundUrl}})">
  <div class="wrapper">
    <div class="navbar-info">
      <a href="/" class="logo me-2">
        <img src="images/logo-site.png" alt="Logo Site">
      </a>
      <div class="orders-info me-2 fs12">
        <p>С 2000 года оказываем -</p>
        <p><b>высококвалифицированная услуги в област</b></p>
      </div>
      <div class="rating-block">
        <img src="images/rat-icon.png" alt="Rating Icon" class="me-2">
        <div>
          <div class="d-flex justify-content-start align-items-center">
            <img src="images/rating-star.png" alt="Rating Star" class="me-2">
            <img src="images/rating-star.png" alt="Rating Star" class="me-2">
            <img src="images/rating-star.png" alt="Rating Star" class="me-2">
            <img src="images/rating-star.png" alt="Rating Star" class="me-2">
            <img src="images/rating-star.png" alt="Rating Star" class="me-2">
          </div>
          <div class="fs14">
            <b>4.9 рейтинг</b>
            <p>на основе 245 отзывов</p>
          </div>
        </div>
      </div>
      <div class="calc-block me-2">
        <img src="images/calcualtor.png" alt="Calculator" class="me-2">
        <div class="fs14">
          <p><b>Калькулятор</b></p>
          <p><b>стоимости</b></p>
        </div>
      </div>

      <div class="quotation-block fs12 me-2">
        <div>
          <span class="min-rounded bgc-green"></span>
          Задайте вопрос ONLINE
        </div>
        <div class="mt-2">
          <button class="btn-call-green fs12">
            <img src="images/icons/whatsup.png" alt="icon WhatsUp" class="me-2">
            Написать в WhatsApp
          </button>
        </div>
      </div>
      <div class="tel-block">
        <div class="text-center fs12">
          <span class="min-rounded bgc-green"></span>
          Звоните, мы работаем Пн–Вс 9:00-18:00
        </div>
        <div class="number-block">
          <a href="tel:4955055222"><h1 class="fs23 c-black me-2">+7 (495) <b>505-52-22</b></h1></a>
          <div class="dropdown">
            <button class="btn btn-while dropdown-toggle fs9 py-1" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
              Москва
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item fs9" href="#">Москва</a></li>
              <li><a class="dropdown-item fs9" href="#">Another action</a></li>
            </ul>
          </div>
        </div>
        <div class="d-flex justify-content-center justify-content-md-end mt-1 pe-0 pe-md-5">
          <span class="fs12 c-grey call-sec">Перезвоним вам за 30 секунд</span>
        </div>
      </div>

      <div class="menu-and-card ms-4">
        <div class="shop-block">
          <i class="fas fa-shopping-cart"></i>
          <span class="order-count">
            <span class="fs9">
              5
            </span>
          </span>
        </div>
        <div class="shop-block d-flex d-md-none" id="open-mobile-menu">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </div>

    <div class="menu-site mb-5">
      <a href="#" class="item">
        <i class="fas fa-home fs27 c-grey"></i>
      </a>
      <a href="#" class="item fs17 dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Услуги
        <i class="fas fa-angle-down ms-2"></i>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item fs17" href="#">Циклевка паркета</a></li>
          <li><a class="dropdown-item fs17" href="#">Тонировка паркета</a></li>
          <li><a class="dropdown-item fs17" href="#">Тонировка под масло</a></li>
          <li><a class="dropdown-item fs17" href="#">Укладка паркета</a></li>
          <li><a class="dropdown-item fs17" href="#">Укладка ламината</a></li>
          <li><a class="dropdown-item fs17" href="#">Стяжка/фанера</a></li>
        </ul>
      </a>
      <a href="#" class="item fs17">Стоимость</a>
      <a href="#" class="item fs17">Наши работы</a>
      <a href="#" class="item fs17">Аренда</a>


      <a href="#" class="item fs17 dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Товары
        <i class="fas fa-angle-down ms-2"></i>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item fs17" href="#">Action</a></li>
          <li><a class="dropdown-item fs17" href="#">Another action</a></li>
          <li><a class="dropdown-item fs17" href="#">Something else here</a></li>
        </ul>
      </a>

      <a href="#" class="item fs17 dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Информация
        <i class="fas fa-angle-down ms-2"></i>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item fs17" href="#">Action</a></li>
          <li><a class="dropdown-item fs17" href="#">Another action</a></li>
          <li><a class="dropdown-item fs17" href="#">Something else here</a></li>
        </ul>
      </a>

      <a href="#" class="item fs17 dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        О компании
        <i class="fas fa-angle-down ms-2"></i>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item fs17" href="#">Action</a></li>
          <li><a class="dropdown-item fs17" href="#">Another action</a></li>
          <li><a class="dropdown-item fs17" href="#">Something else here</a></li>
        </ul>
      </a>

      <a href="#" class="item fs17 border-0 dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Контакты
        <i class="fas fa-angle-down ms-2"></i>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item fs17" href="#">Action</a></li>
          <li><a class="dropdown-item fs17" href="#">Another action</a></li>
          <li><a class="dropdown-item fs17" href="#">Something else here</a></li>
        </ul>
      </a>

    </div>
  </div>

  {{headerBody}}
</header>