<div class="mobile-menu">
  <div class="mobile-header mb-4">
    <img src="images/logo-site.png" alt="Logo site mobile Menu" width="150">
    <div class="close">
      <i class="fas fa-times"></i>
    </div>
  </div>
  <h1 class="fs28 c-black fw-bold " id="mobile-menu-title">Меню</h1>
  <div class="position-relative">
    <div class="menu-body">
      <div class="menu-item">
        <a href="#" class="c-grey fs20" data-open="false">Главная</a>
      </div>
      <div class="menu-item">
        <a href="#" class="c-grey fs20" data-open="true">
          Услуги
          <i class="fas fa-angle-right ms-2"></i>
        </a>
        <div class="sub-menu-hidden">
          <for count="6" data-name="Циклевка паркета,Тонировка паркета,Тонировка под масло,Укладка паркета,Укладка ламината,Стяжка/фанера">
            <div class="menu-item">
              <a href="#" class="c-grey fs20">{{name}}</a>
            </div>
          </for>
        </div>
      </div>
      <div class="menu-item">
        <a href="#" class="c-grey fs20" data-open="false">Стоимость</a>
      </div>
      <div class="menu-item">
        <a href="#" class="c-grey fs20" data-open="false">
          Наши работы
        </a>
      </div>
      <div class="menu-item">
        <a href="#" class="c-grey fs20" data-open="false">Аренда</a>
      </div>
      <div class="menu-item">
        <a href="#" class="c-grey fs20" data-open="false">
          Товары
        </a>
      </div>
      <div class="menu-item">
        <a href="#" class="c-grey fs20" data-open="false">Информация</a>
      </div>
      <div class="menu-item">
        <a href="#" class="c-grey fs20" data-open="false">О компании</a>
      </div>
      <div class="menu-item">
        <a href="#" class="c-grey fs20" data-open="false">Контакты</a>
      </div>
    </div>


    <div class="mobile-sub-menu close">
      <div id="menu-go-prev" class="fs14 mb-2 cursor-pointer">
        <i class="fas fa-angle-left me-2"></i>
        Назад
      </div>

      <h1 class="fs28 c-black fw-bold mt-2" id="sub-menu-title"></h1>
      <div id="sub-modal-block"></div>
    </div>
  </div>
</div>