<div class="d-flex justify-content-center justify-content-xl-start align-items-center">
  <a href="#" class="c-grey fs14">
    <i class="fa-regular fa-arrow-left me-2"></i>
    <span class="d-none d-sm-inline-block">Назад</span>
  </a>
  <a href="#" class="fs24 c-black w-46 h-46 d-flex justify-content-center align-items-center me-3">
    1
  </a>
  <a href="#" class="fs24 c-while bgc-grey border-radius-25 w-46 h-46 d-flex justify-content-center align-items-center me-3">
    2
  </a>
  <a href="#" class="fs24 c-black w-46 h-46 d-flex justify-content-center align-items-center me-3">
    3
  </a>
  <a href="#" class="fs24 c-black w-46 h-46 d-flex justify-content-center align-items-center me-3">
    4
  </a>
  <a href="#" class="fs24 c-black w-46 h-46 d-flex justify-content-center align-items-center me-3">
    ...
  </a>
  <a href="#" class="fs24 c-black w-46 h-46 d-flex justify-content-center align-items-center me-3">
    12
  </a>
  <a href="#" class="c-grey fs14">
    <span class="d-none d-sm-inline-block">Далее</span>
    <i class="fa-regular fa-arrow-right me-2"></i>
  </a>
</div>