<div class="product-item">
  <div class="img-block">
    <img src="images/cards/product.png" alt="Product Name">
  </div>
  <div class="title-product">
    Bona DOMO Паркетный лак Умеренный – Матовый, Полуматовый (5 л)
  </div>
  <div class="subtitle-product">
    <p>Выбериту фактуру:  </p>
    <p>
      <b>Матовый</b>
    </p>
  </div>
  <div class="counts-product">
    <p class="fs14 c-black text-center">Количество:</p>
    <div class="counts-product-body">
      <i class="far fa-minus c-grey cursor-pointer"></i>
      <span>1</span>
      <i class="far fa-plus c-grey cursor-pointer"></i>
    </div>
  </div>
  <div class="product-price">
    <p class="fs14 c-black text-center">Цена:</p>
    <div class="price">
      6950 <img src="images/icons/rubls.png" alt="Rubl Img" class="ms-2">
    </div>
  </div>
  <div class="remove-block">
    <button class="rmv-btn">
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>
  <div class="remove">
    <i class="far fa-times"></i>
  </div>
</div>