<section class="reviews-page mt-80 mb-30">
  <div class="wrapper max-wrapper">
    <h1 class="fs30 fs65-md text-center mb-5">
      <b>
        Отзывы
      </b>
    </h1>

    <div class="row">
      <div class="col-12 col-sm-6 col-xl-4 mb-5">
        <div class="bgc-black-grey-length border-radius-25 p-5 h-450">
          <div class="d-flex justify-content-start align-items-center">
            <div class="bg-image border-radius-100 w-125 h-125 me-4" style="background-image: url(images/reviews-page/user-avatar.png)"></div>
            <div>
              <h3 class="fs24 mb-3">
                <b>Алексей Сковрцов</b>
              </h3>
              <div class="img-count">
                +5 фото
              </div>
            </div>
          </div>
          <p class="c-black-grey fs15 mt-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ab alias amet aperiam debitis deleniti dolores est in iusto,
            laborum modi molestiae nihil quia quis quod saepe ullam unde. Id, illo.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ab alias amet aperiam debitis deleniti dolores est in iusto,
            laborum modi molestiae nihil quia quis quod saepe ullam unde. Id, illo.
          </p>
        </div>
      </div>
      <for count="5">
        <div class="col-12 col-sm-6 col-xl-4 mb-5">
          <div class="reviews-block" style="background-image: url(images/reviews-page/people.png)">
            <div class="rev-min">
              Отзывы
            </div>
            <div class="play-btn">
            <span>
              <span>
                <i class="fas fa-play"></i>
              </span>
            </span>
            </div>
          </div>
        </div>
      </for>
    </div>

    <div class="f-c-c mt-5">
      <button class="btn-grey-large">Оставить отзыв</button>
    </div>

  </div>
</section>