<div class="modal fade" id="productAdded" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="shop__block">
        <i class="fa-regular fa-cart-shopping"></i>

        <span class="count">
          <span class="count-body">
            2
          </span>
        </span>
      </div>
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <h1 class="text-center fs30 c-black fw-bold">
          Товар добавлен в корзину!
        </h1>

        <div class="row mt-4 mb-3">
          <div class="col-6">
            <button class="btn-grey-large w-100 transparent text-uppercase">Перейти в корзину</button>
          </div>
          <div class="col-6">
            <button class="btn-grey-large w-100 transparent text-uppercase">Продолжить покупки</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>