
<!-- Modal -->
<div class="modal fade" id="selectCountry" tabindex="-1" aria-labelledby="selectCountryLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1 class="text-center fs30 c-black fw-bold">
          С какого вы города?
        </h1>

        <div class="row mt-4 mb-3">
          <div class="col-6">
            <button class="btn-grey-large w-100 transparent text-uppercase">Москва</button>
          </div>
          <div class="col-6">
            <button class="btn-grey-large w-100 transparent text-uppercase">СПБ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>