<section class="catalog-rent">
  <div class="wrapper">
    <h1 class="title"><b>Каталог оборудовани</b>я для <br> циклевки и шилифовки паркета</h1>

    <div class="content-catalog">
      <for count="8">
        <div class="item">

          <div class="img-block" style="background-image: url(images/rent/bona-item.png)">
            <span class="percent__price">-10%</span>
          </div>
          <div class="content">
            <h3 class="title">Bona SUPRAFLEX</h3>
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Eveniet itaque iure magnam maiores molestias necessitatibus quae, voluptas.
              Assumenda dolores ducimus iusto laborum minima natus ratione sapiente similique
              totam voluptates. Aperiam.
            </p>
            <p class="open-close-info-catalog-item">
              Расскрыть полностью
              <i class="fa-solid fa-angle-down ms-2"></i>
            </p>
            <div class="price-block">
              <span class="price-title">Цена/сутки</span>
              <span class="price">1500 руб</span>
            </div>
            <div class="price-block">
              <span class="price-title">Залог:</span>
              <span class="price">150 000 руб</span>
            </div>
            <div class="d-flex justify-content-center mt-5">
              <button class="btn-grey-large">
                Заказать через сайт со скидкой -10%
              </button>
            </div>
            <p class="text-center fw-bold mt-3">
              или звоните
            </p>
            <div class="tel-block mt-3">
              <div class="text-center fs12">
                <span class="min-rounded bgc-green"></span>
                Звоните, мы работаем Пн–Вс 9:00-18:00
              </div>
              <div class="mt-2 d-flex">
                <a href="tel:4955055222"><h1 class="fs18 c-black me-2">+7 (495) <b>505-52-22</b></h1></a>
                <div class="dropdown">
                  <button class="btn btn-while dropdown-toggle fs9 py-1 border-radius-15" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Москва
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item fs9" href="#">Москва</a></li>
                    <li><a class="dropdown-item fs9" href="#">Another action</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </for>
    </div>
  </div>
</section>