<div class="row mt-50">
  <for count="6" data-imageurl="1,2,3,4,5,6" data-name="Инженерная доска,Паркетная доска,Штучный паркет,Массивная доска,Фанера, Доска">
    <div class="col-12 col-sm-6 col-lg-4 col-xxl-2 mb-20">
      <div class="cost-work">
        <img src="images/tinting/cost-work{{imageurl}}.png" alt="cost work">
        {{name}}
      </div>
    </div>
  </for>
</div>

<div class="row mt-40 justify-content-between">
  <div class="col-5 d-none d-lg-block">
    <img src="images/tinting/max-wood.png" alt="" class="w-100 border-radius-25">
  </div>
  <div class="col-12 col-lg-7">
    <h1 class="fs36 c-black fw-bold mb-40 text-center text-sm-start">
      Стоимость укладки инженерной доски:
    </h1>

    <p class="c-black fs16 ">
      Укладка паркета Москва – это один из самых распространенных запросов для людей, которые собираются создать новый интерьер или освежить старый. Впрочем, и в других городах России, и даже по всему миру, эта услуга пользуется невероятной популярностью. Ведь дерево есть и будет единственной возможностью эксклюзивного оформления ваших полов и воплощения безграничных фантазий в области дизайна.

    </p>
    <p class="c-black fs16 mt-20 mb-30">
      Ведь дерево – наиболее экологичный, долговечный, практичный и просто невероятно красивый материал, за долгие века своего существования ставший фактический статусным видом отделки. Вряд ли, найдется человек, который не захотел бы пройтись по гостиной или спальне, ощущая под ногами настоящее дерево, например, американский орех или великолепно собранную мозаику в классическом стиле XVI века.
    </p>


    <for count="3" data-name="Плаващим способом,Укладка на стяжку,Укладка фанеру">

      <div class="fs20 c-black row justify-content-start mb-4 mb-md-0">
        <div class="col-12 col-xl-4 text-center text-sm-start">
          <img src="images/icons/min-check.png" alt="min check" class="w-47 d-block d-sm-inline-block m-auto">
          <span class="fw-bold text-decoration-underline text-nowrap">
          {{name}}
        </span>
        </div>
        <div class="col-12 col-sm-4 c-grey fs16 fw-bold text-center text-sm-start">
          от <span class="fs40">399</span> руб/м2
        </div>
        <div class="col-12 col-sm-4 c-black-grey d-flex justify-content-center justify-content-sm-start">
          <span class="fs40 text-line-through">599</span> руб/м2
          <span class="def-tooltip d-none d-md-inline">
          <img src="images/icons/quotation.png" alt="quotation">
          <span class="message">
            Условия красной цены уточняйте
            у менеджера +7 (4012) 20-12-89
          </span>
        </span>
        </div>
      </div>

    </for>




    <div class="row mt-20">
      <div class="col-12 col-sm-4 text-center text-sm-start">
        <button class="btn-grey-large">Оставить заявку расчет</button>
      </div>
      <div class="col-12 col-sm-4 mt-20">
        <h3 class="text-center fs24"><b>или звоните:</b></h3>
        <div class="tel-block">
          <div class="d-flex justify-content-center align-items-center mt-2">
            <img src="images/icons/call.png" alt="Call Icon">
            <a href="tel:4955055222"><h1 class="fs23 c-black me-2">+7 (495) <b>505-52-22</b></h1></a>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>